body {
    background-color: cadetblue;
}
.box1 {
    width: 250px;
    height: 350px;
    box-shadow: 0px 0px 15px black;
    background-color: white;
    padding: 40px;
    position: relative;
    top: 150px;
    left: 400px;
}
i {
    font-size: 100px;
}
.box2 {
    width: 250px;
    height: 350px;
    box-shadow: 0px 0px 15px black;
    background-color: white;
    padding: 40px;
    position: relative;
    top: -160px;
    left: 750px;
}
.box3 {
    width: 250px;
    height: 350px;
    box-shadow: 0px 0px 15px black;
    background-color: white;
    padding: 40px;
    position: relative;
    top: -400px;
    left: 1100px;
}
button {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}